@import "../../styles/bulma/sass/utilities/mixins.sass";
.top__padding {
	@include mobile {
		padding-top: 1rem;
	}
	@include tablet-only {
		padding-top: 1rem;
		background-color: red;
	}
}
.text {
	font-size: 12.5rem;
	font-weight: 500;
	color: black;
	letter-spacing: -0.8rem;
	line-height: 16rem;
	overflow: hidden;
	position: relative;
	@include mobile {
		font-size: 5rem;
		line-height: 6.5rem;
		letter-spacing: 0rem;
		&.small__text {
			font-size: 3.5rem;
			line-height: normal;
		}
	}
	@include tablet-only {
		font-size: 7.5rem;
		line-height: 10rem;
		letter-spacing: -0.5rem;
	}
	@include desktop-only {
		font-size: 10rem;
		line-height: 13rem;
	}
}
.row__message {
	display: flex;
	justify-content: center;
	align-items: center;
	p {
		width: 400px;
		font-weight: 500;
	}
	@include touch {
		p {
			width: 300px;
		}
	}
}

.row__letter {
	display: inline-block;
	z-index: 2;
}
.scroll__down {
	position: absolute;
	top: 0;
	left: 180px;
	background-color: white;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	@include mobile {
		display: none;
	}
	@include tablet-only {
		left: 10px;
		width: 100px;
		height: 100px;
		font-size: 0.75rem;
	}
	@include desktop-only {
		left: 75px;
		width: 125px;
		height: 125px;
	}
	@include widescreen {
		left: 75px;
		width: 150px;
		height: 150px;
	}
	@include fullhd {
		left: 180px;
	}
}
