@import "./bulma/bulma.sass";

html {
	background-color: $light;
}
html,
body {
	overflow-x: hidden;
}
.main__image {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 800px;
		display: flex;
	}
	&.final {
		top: -8rem;
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		z-index: -1;
		text-align: center;
		img {
			width: 90%;
			margin: 0 auto;
		}
		@include mobile {
			top: 0;
			img {
				width: 100%;
			}
		}
	}
}
.footer {
	background-color: hsl(0, 0%, 90%);
}

.marquee {
	.child {
		width: fit-content;
		display: flex;
		position: relative;
		display: inline-block;

		// padding-left: 100%;
		/* show the marquee just outside the paragraph */
		will-change: transform;
		animation: marquee 1s linear infinite;
	}
}

.marquee span:hover {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
		transform: translate3d(calc(-25% + 10vw), 0, 0);
	}
	100% {
		transform: translate3d(calc(-50% + 10vw), 0, 0);
	}
}
