@import "./bulma/bulma.sass";

html {
	background-color: $light;
}
html,
body {
	overflow-x: hidden;
}
.main__image {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 900px;
		display: flex;
	}
	&.final {
		top: -6.5rem;
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		z-index: -1;
		text-align: center;
		img {
			width: 90%;
			margin: 0 auto;
		}
		@include mobile {
			top: -3.5rem;
			img {
				width: 100%;
			}
		}
		@include tablet-only {
			top: -3.5rem;
		}
		@include desktop-only {
			top: -5rem;
		}
	}
}
.footer {
	background-color: hsl(0, 0%, 90%);
}
