@import "./bulma/bulma.sass";

html {
	background-color: $light;
}
html,
body {
	overflow-x: hidden;
}
.main__image {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 900px;
		display: flex;
	}
	&.final {
		top: -6.5rem;
		display: block;
		position: relative;
		width: 100%;
		height: auto;
		z-index: -1;
		text-align: center;
		img {
			width: 90%;
			margin: 0 auto;
		}
		@include mobile {
			top: -3rem;
			img {
				width: 95%;
			}
		}
		@include tablet-only {
			top: -3.5rem;
		}
		@include desktop-only {
			top: -5rem;
		}
	}
}
.footer {
	background-color: hsl(0, 0%, 90%);
}
.marquee {
	// width: 100%;
	overflow: hidden;
	.marquee__content {
		width: fit-content;
		display: flex;
		list-style: none;
		animation: scrolling 5s linear infinite;
		animation-delay: 1.8s;
		.marquee__item {
			width: fit-content;
			padding: 0 12vw;
			flex-shrink: 0;
		}
	}
}
@keyframes scrolling {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}
